*{
    font-family: 'Work Sans', "Roboto",sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
   font-size: 1.0em;
}

.text-red-only{
    color: red!important;
}
.text-red{
    color: red!important;
    text-decoration: none!important;
    border-radius: 5px;
}
.text-red:hover{
    background-color: rgb(133, 1, 1)!important;
    color: white!important;
    text-decoration: none!important;
}

.bg-popular{
    background-color:rgb(240, 240, 240);
}

 
/*General*/
.logo-text{
    color: rgb(173, 2, 2);
    font-family: "Poppins", Arial, sans-serif;
}
.logo{
    width: 150px; 
}
.link{
    color:rgb(24, 23, 23)!important;
    margin-right: 5px; 
}

.link-active, .link:hover{
    background-color: #dadada;
    color:rgb(24, 23, 23)!important;
    border-radius: 40px; 
    -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}
.link-active{
    background-color: #fff;
    color:#323333!important;
    border-radius: 40px; 
}
.signin{
    background-color: #202020!important;
    color:#fff!important;
    border-radius: 40px; 
}
.signin:hover{
    background-color: #5a5a5a!important;
}
.defualt-btn{
    background-color: #ff0000d0!important;
    color:#fff!important;
    border-radius: 40px!important; 
}
.big{
    font-size: 1.3em!important;
}
.defualt-btn:hover{
    background-color: #f84040f8!important;
    color:#fff!important;
}
.container-image {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-item-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Bottom left text */
.bottom-left {
    position: absolute;
    top: 84.0%;
    left: 5.5%;
    
  }
    /* Bottom right text */
.bottom-right {
    position: absolute;
    top: 87%;
    right: 5.5%;
    
  }

      /* Bottom right text */
.top-center {
    position: absolute;
    bottom: 80%;
    right: 20%;
    
  }

      /* Top right text */
.top-right {
    position: absolute;
    bottom: 85%;
    right: 5.5%;
    
  }

.my-image{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    /* color: white; */
    /* background-color: red; */
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  .bg-white{
      background-color: white!important;
  }
 

  .search-btn{
      border-radius: 30px;
      color: white!important;
      background-color: red!important;
      margin: 5px;
      border: none;
      padding: 0 15px 0 15px;
  }
  .search-btn:hover{
    background-color: white!important;
    color: red!important;
    border: 1px solid red;
    padding: 0 15px 0 15px;
}

  .search-input{
    border-radius: 40px; 
    /* margin-top: 100px; */
  }
  .form a{
      background-color: red;
  }
  #search-list a:hover {
    border-color: 3px red solid!important; 
    /* margin-top: 100px; */
  }

  .search-item{
   display: inline-block;
   text-decoration: none!important;
   color:black;
}

  .search-item:hover{
    background-color: rgb(156, 2, 2);;
    color: white;
    -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
  }
  #search-list{
      /* visibility: visible; */
      /* display: none; */
      /* -webkit-transition: 1.3s all ease;
      -o-transition: 1.3s all ease;
      transition: 1.3s all ease;  */
      
  }
  #search-list{
    opacity:0;
    height: 0px;
    overflow:hidden;
}
#closebtn{
    opacity:0;
}


  a:link{
      text-decoration: none;
      color:black;
  }

  .bg-app-color{
      background-color: rgb(227, 234, 247);
  }
  .app-image{
      height: 500px;
  }
  .app-icon{
      height: 50px;
  }

  .category-icon{
      height: 65px;
  }

  .category-size{
      height: 110px;
      width: 100%;
      display: block;
      border-radius: 10px;
      box-shadow:5px 1px 12px rgb(209, 208, 208);
  }

  
  .category-size:hover{
      border-radius: 10px;
      padding:0px;
      box-shadow:6px 2px 10px gray;
      -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
      color: rgb(56, 0, 0);
      text-decoration: underline;
}
  .category-btn{
      border:1px solid rgb(179, 4, 4);
      color: rgb(179, 4, 4) !important;
      border-radius: 15px;
      /* box-shadow:1px 2px 10px rgb(179, 4, 4); */
  }
  .category-btn:hover{
      border: 0px;
      box-shadow:0px;
    background-color: black;
    color:white!important;
    transition: 0.15s ease-in;
}

   .carousel-image{
       height: 273px!important;
       width: 261px!important;
       /* border: 2px solid red; */
       background-position: center;
       background-size: cover;
   }


   .carousel-parent{
    /* height: 275px!important; */
    width: 261px!important;
}
 

   .fav-btn{
    background-color: red !important;
    border-radius: 150px;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    /* box-shadow:1px 2px 10px rgb(179, 4, 4); */
}
   .star-btn{
    background-color: rgb(223, 2, 2) !important;
    border-radius: 15px;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    /* box-shadow:1px 2px 10px rgb(179, 4, 4); */
}
.fav-btn:hover{
    border: 0px;
    box-shadow:0px;
    background-color: white!important;
  color:red!important;
  transition: 0.15s ease-in;
}

/*send message*/
.messenger{
    background-color: #6b6b6b!important;
    padding: 100px 0px;
}
.mbtn{
    background-image: linear-gradient(to right,#f54747, #9e1f1f);
    transition: 2s ease-in-out;
}
.mbtn:hover{
    background-image: linear-gradient(to right,#9e1f1f, #f34747);
}

.blog-item-img{
    height: 320px!important;
    width: 100%!important;
}

/* ABOUT US PAGE */
.top-image{
    height: 450px!important;
    width: 100%;
}

.gif{
    height: 350px!important;
}
/* Business preview PAGE */

.product-item-image{
    height: 160px!important;
}

.overflow{
    z-index: -1;
    overflow:scroll;
}

.user-image{
    height: 40px!important;
    width: 40px!important;
    border-radius: 100px;
}
.right-aside{
    min-width: 340px;
}
/* ---------------------------------------------------- */



.nlinks:hover{
    color:#c6e301;
}

.car-img{
    width: 100%;
    height: 300px!important;;
}
.mmt{
    /* margin-top: 30px; */
}
.t-color{
    color:#c6e301;
}
.s-color, .hover{
    color: #008B75;
}
.green-border{
 border: 5px solid #c6e301;
}
.g-border{
 border: 1px solid #c6e301;
}

.mlinks{
    color: black;
}
.mlinks:hover, .hover:hover{
    color:#c6e301;
    text-decoration: none;
}

.intro{
    box-shadow: 1px 2px 10px #e5e5e5;
}
.item{
    box-shadow: 1px 2px 10px #e5e5e5;
    height: 150px;
    margin-top: 10px;
}

.secolor{
    background-color: #ccfff7;
    color:#008B75;
    border-radius: 400px; 
    padding: 14px 8px 14px 12px; 
    font-size: 1.2em;
    margin: 10px;
}
.gcolor{
    background-image: linear-gradient(to right,#7b1111,#ff450d)
}

.login-card{
  width: 350px;
}
/*/////////////////////*/
 

/*END GENERAL*/

/*send message*/
 
 

/*end send message*/


/*team members*/
.members{ 
    border-left: 7px solid #c6e301;
}
.mem-img{
    max-width: 400px;
    max-height: 300px
}

/*end team members*/

/*OUR clients*/
.clients{
    
}
.client-img{
    width:200px;
    margin: 5px auto;
    
}

/*End OUR clients*/

/*About us*/
.bg-about{
/*    padding: 35px 40px; */
    background-image: linear-gradient(to right,#A3C10E, #86B84A);
}

.bg-blue{
/*    padding: 35px 40px; */
    background-image: linear-gradient(to right,#5b80fd, #43cfdb);
}

/*End About us*/


/*BLogs*/
.blog-item{
/*    width: 400px;*/
    margin: 0px;
    
}
/*End BLogs*/


/* End Category page css*/

/*Gallery page*/
.display{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gallery{
    width: 370px;
    height: 400px;
    padding: 0; 
}
.gallery img{
    width: 100%;
    height: 100%; 
}
/*End Gallery page*/



/*side blog*/
.side-blog{
    width: 300px;
    
}
.side-blog img{
    width: 35%;
    height: 70px;
    
}
.side-blog p{
    display: inline-block;
    width: 60%;
    font-weight: 600
}

/*End side blog*/




/*footer*/
footer{
    background-color:rgb(240, 240, 240);
}

.social-media a, .location a{
    text-decoration: none;
    
}

.social-links, .location-links{
    color: rgb(53, 52, 52);
    border-radius: 300px;
    /* background-color: #2F363C;  
    padding: 12px 9px 12px 11px;  */
    /* margin: 5px; */
    /* text-align: center; */
}
.f-links a{
    color: rgb(53, 52, 52);
}
.f-links a:hover{
    color:#e00b04!important;
    text-decoration: underline;
}

.contact-links a{
    color: rgb(0, 153, 8);
}
.contact-links a:hover{
    color:#e00b04!important;
    text-decoration: underline;
}

.my-icon-links a{
    color: rgb(31, 31, 31);
}
.my-icon-links a:hover{
    color:#e00b04!important;
    text-decoration: underline;
}

/*end footer*/


.car-img{ 
    height:240px; 
}

/*MEDIA QUERIES*/

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .car-img{ 
        height:640px; 
    }
}

/*
@media only screen and (max-width:1536px){
}
*/

@media only screen and (max-width:700px){
    .car-img{ 
    height:230px;
}

    .category-padding{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}
















