*{
/*    font-family: 'Work Sans';*/
    text-decoration: none;
   font-size: 1.01em;
}

/*General*/
.logo{
    width: 150px; 
}
.link{
    color:#018C77!important;
    margin-right: 5px; 
}

.link-active, .link:hover{
/*    background-color: #f5f5f5;*/
    color:#c6e301!important;
}

.nlinks:hover{
    color:#c6e301;
}

.car-img{
    width: 100%;
    height:500px;
}
.mmt{
    margin-top: 30px;
}
.t-color{
    color:#c6e301;
}
.s-color, .hover{
    color: #008B75;
}
.green-border{
 border: 5px solid #c6e301;
}
.g-border{
 border: 1px solid #c6e301;
}

.mlinks{
    color: black;
}
.mlinks:hover, .hover:hover{
    color:#c6e301;
    text-decoration: none;
}

.intro{
    box-shadow: 1px 2px 10px #e5e5e5;
}
/*
.item{
    box-shadow: 1px 2px 10px #e5e5e5;
    height: 150px;
    margin-top: 10px;
}
*/
.item{
    width: 250px;
    position: relative;
    margin-top: 20px;
}
.item-brand{
    position: absolute;
    top: 20px;
    background-color: white;
    padding: 2px 10px;
    font-weight: 900;
    font-size: 0.8em;
}

.item-image{
    width: 100%;
    height: 85%;
}
.item-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.secolor{
    background-color: #ccfff7;
    color:#008B75;
    border-radius: 400px; 
    padding: 14px 8px 14px 12px; 
    font-size: 1.2em;
    margin: 10px;
}
.gcolor{
    background-image: linear-gradient(to right,#7b1111,#ff450d)
}

.login-card{
  width: 350px;
}
/*/////////////////////*/
.banner{
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to right,#86B84A, #A3C10E);
    background-position: center;
    background-size: contain;
}

.r-image{
    background-image: url(/static/images/covers/reseach%20banner.png);
    background-position: center;
    background-size: contain;
}
.f-image{
    background-image: url(/static/images/covers/reseach%20banner.png);
    background-position: center;
    background-size: contain;
}
.q-image{
    background-image: url(/static/images/covers/Quality%20Control.png);
    background-position: center;
    background-size: contain;
}
.c-image{
    background-image: url(/static/images/covers/Consulting%20banner.png);
    background-position: center;
    background-size: contain;
}
.k-image{
    background-image: url(/static/images/covers/KH&C.png);
    background-position: center;
    background-size: contain;
}

/*END GENERAL*/

/*send message*/
.messenger{
    background-color: #F4F4F4;
    padding: 100px 0px;
}
.mbtn{
    background-image: linear-gradient(to right,#86B84A, #A3C10E);
}

/*end send message*/


/*team members*/
.members{ 
    border-left: 7px solid #c6e301;
}
.mem-img{
    max-width: 400px;
    max-height: 300px
}

/*end team members*/

/*OUR clients*/
.clients{
    
}
.client-img{
    width:200px;
    margin: 5px auto;
    
}

/*End OUR clients*/

/*About us*/
.bg-about{
/*    padding: 35px 40px; */
    background-image: linear-gradient(to right,#A3C10E, #86B84A);
}

.bg-blue{
/*    padding: 35px 40px; */
    background-image: linear-gradient(to right,#5b80fd, #43cfdb);
}

/*End About us*/


/*BLogs*/
.blog-item{
/*    width: 400px;*/
    margin: 0px;
    
}
/*End BLogs*/


/* End Category page css*/

/*Gallery page*/
.display{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gallery{
    width: 370px;
    height: 400px;
    padding: 0; 
}
.gallery img{
    width: 100%;
    height: 100%; 
}
/*End Gallery page*/



/*side blog*/
.side-blog{
    width: 300px;
    
}
.side-blog img{
    width: 35%;
    height: 70px;
    
}
.side-blog p{
    display: inline-block;
    width: 60%;
    font-weight: 600
}

/*End side blog*/




/*footer*/
.bg-footer{
    background-color:#262C31;  
}
.social-media a, .location a{
    text-decoration: none;
    
}

.social-links, .location-links{
    color:#c6e301;
    border-radius: 300px;
    background-color: #2F363C;  
    padding: 12px 9px 12px 11px; 
    margin: 5px;
    text-align: center;
}
.social-links:hover{
    color: white
}
.f-links a{
    color: white;
}
.f-links a:hover{
    color:#c6e301;
}
.f-about, .f-links{
    margin-left: 10px;
}
.f-about p, .f-links a{
    margin-left: 10px;
}
/*end footer*/




/*MEDIA QUERIES*/

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .car-img{ 
        height:740px; 
    }
}

/*
@media only screen and (max-width:1536px){
}
*/

@media only screen and (max-width:700px){
    .car-img{ 
    height:230px;
}
}


 